.btn-recipe-detail {
    font-size:5rem;
    width:10rem;
    height: 2.5rem;
}

.add-recipe-button2{
    margin-left:2rem;
    padding-top:8px;
    font-size: 1.2rem;
    width:2.3rem;
    height: 1.8rem;
    line-height: .5;
}

.min-width-100{
    min-width: 100px;
    margin-right:1rem;
}
.btn-unfollow{
    background-color: red;
}

.btn-follow{
    width:2.6rem;
    height: 2rem;
    color:white;
    padding-left: 0.5rem;
    margin-top:.6rem;
}

.search-bar-component{
    width:25rem;
    margin-left:2rem;
    height: 50px;
}

.sub-bar{
    background-color: #f8f9fa;
    border-radius: 10px;
    height:100px;
    width:50%;
    margin:0 auto;
    border: 1px black solid;
    min-width: 400px;
}

.h2-recipe-radar{
    font-size:1.4rem;
    margin-left:1rem;
}


