html, body {
    height: 100%;
    margin: 0;
  }

  .big-font{
    font-size:10rem;
  }

  .container {
    display: flex;
    width: 100%;
    height:100vh;
    margin-left:0;
    padding-left:0;
    padding-right:0;
  }
  .alert-login{
    width:12rem;
    font-size:0.8rem;
    
  }
  

  
  .image-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left:8rem;
    padding-bottom:8rem;

  }
  
  .image-text-container img {
    max-width: 100%;
    height: auto;
  }
  
  .image-text-container p {
    margin-top: 20px;
    text-align: center;
  }
  

.messages{
    display:flex;
    justify-content: center;
    font-family: Jomhuria,'sans-serif';
    font-size:2rem;
    margin-left:1rem;
    margin-bottom:1.6rem;
    height:20px;
}

.messages2{
    font-family: Jomhuria,'sans-serif';
    font-size:2rem;
    height:20px;
    text-align: center;
}

.click-here{
    text-decoration: none;
    color:#1EC31B;
    margin-left:5px;
    height:20px;
}

.error{
    font-size: 15px;
    color:red;

}
.jomh{
    font-family: 'Jomhuria', 'sans-serif';
    font-size:2rem;
}

.big-font{
    font-size:2.5rem;
  }

.form-container{
    background-color: #A5FFBE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    padding: 20px;
    padding-bottom:8rem;
    margin-bottom: 10rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 5%;
    width: 50%;
    border:3px solid #000000;
}

label {
    color: rgba(0, 0, 0, 0.35);
    font-family: "Jomhuria", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    display: block;
    margin-top:0.6rem;
}

.btn{
    background-color: #1EC31B;
    border:0;
}

input {
    padding: 10px;
    border: 2px solid #1EC31B;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    display: block;
    height:2.4rem;
    width: 10rem;
}
.remember-me-container{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap:1.1rem;
    margin-top: 0.8rem;
}

.remember-me{
    font-family: Jomhuria, sans-serif;
    font-size: 2rem;
    margin-bottom: 0.4rem;
    color: #000000;
}


.submit-button-container {
    display:flex;
    justify-content: center;
    margin-top:2rem;
    margin-bottom:2rem;
}


.btn{
    width: 6rem;
    height: 3rem;
    font-size: 1.2rem;
}

@media(max-width:1024px){
    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group{
        width: 80%;
    }

    .messages{
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 768px) {

    .form-group{
        width: 100%;
    }
    .image-text-container{
        display: none;
    }
    .form-container {
        width: 50%;
        margin: auto;
        background-color: white;
      }

    .messages{
        margin-bottom: 1.7rem;
    }

    .form-container{
        height: 30%;
    }

}

@media (max-width: 525px) {
    input{
        width: 70%;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

