.btn-recipe-detail{
    font-size: .85rem;
    margin-top:0.4rem;
    width:7rem;
}
.btn-delete{
    margin-left:1rem;
}

.follow-button{
    width:6rem;
}

body {
    overflow-y: scroll;
}

.action-btn{
    width:6rem;
    height: 2rem;
    font-size: .9rem;
}

.x-btn{
    width:3rem;
    height: 1.7rem;
    margin-left:0.4rem;
    padding-bottom: 5px;
    text-align:center;
    font-size: .5rem;
}
.margin-l3{
    margin-left: 2rem;
}


@media (max-width: 767.98px) {
    .conditional-mt-3 {
      margin-top: 1rem !important;
    }
}