    .add-recipe-header{
        font-size:1.6rem;
        margin-top:.5rem;
    }

    .delete-recipe-ingredient-button{
        width: 2.3rem;
        height: 2rem;
        margin-left:1rem;   
        line-height: 0.3rem;     
    }


    .add-recipe-button{
        width:7rem;
        height: 2.6rem;
        line-height: 1.2;
    }

    .add-ingredient-button{
        width:10rem;
    }

    .space-between{
        justify-content: space-between;
    }
    .container-edit{
        width:50%;
        margin:0 auto;
        margin-top:2rem;
    }